doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700" rel="stylesheet")
		link(rel="stylesheet", href="styles/reset.css")
		link(rel="stylesheet", href="styles/style.css")
		title HW-43
	body
		.container
			header.header
				a.header__logo(href="#")
				nav.header__menu
					span.menu__btn(href="")
						img(src="images/mobile-btn-01.svg", alt="mobile-btn")
					ul.menu__list


		script(src="/vendor/jquery/jquery-3.1.1.min.js")