extends layout.pug

block content
	.container
		header.header
			a.header__logo Countries
			nav.header__menu
				span(href="" class="menu__btn")
					img(src="images/mobile-btn-01.svg" alt="mobile-btn")
				ul.menu__list
					li.list__item
						a.item__a(href="#") Countries
					li.list__item
						a.item__a(href="#") Capital city
		.content
			h2#title.content__title	Title
			.preview__wrap